<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){

            var socket = io();
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
           //listens to 'mensaje' message on socket
           socket.on('datos', function(msg) {
            
                document.getElementById("datos_ine").textContent = JSON.stringify(msg, undefined, 2);
            });
           socket.on('mensaje', function(msg) {
                document.getElementById("video").style.display = "none"; 
               document.getElementById("mensaje").textContent = msg;
               
           });
           socket.on('error', function(msg) { 
                document.getElementById("video").style.display = "none";
               document.getElementById("error").textContent = msg;
               
           });
           

       });
   </script>
    <title> VerificaciónINE</title>
</head>
<body class = "container">
    <h1>Verificación de INE</h1>

    <img id= "video" src = "{{url_for('video')}}" width="500vw" height="300vh">       
    <div id="datos_ine"></div>
    <div id="mensaje"></div>
    <div id="error"></div>
</body>
</html>